/*--------------------------------Skills */

/* Increases the checkbox's size */
#skills input{
    padding: 0px;
    width:30px;
    height: 30px;
    position: relative;
}

/* Removes the extra separator and leaves enough margin so the help button doesn't cover any content */
#skills{
    border-bottom: none;
    padding-bottom: 90px;
}
