/*--------------------------------Fonts */

@font-face {
    font-family: 'dalelands_uncialbold';
    src: url('../fonts/dalelandsuncialbold-82za-webfont.woff2') format('woff2'),
         url('../fonts/dalelandsuncialbold-82za-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'draconisregular';
    src: url('../fonts/draconis-jrw6b-webfont.woff2') format('woff2'),
         url('../fonts/draconis-jrw6b-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/*--------------------------------Whole Page */

/* Background pattern from Toptal Subtle Patterns */
body{
    background-image: url('../images/black-scales.png');
    background-repeat: repeat;
    text-align: center;
    font-family: 'draconisregular', sans-serif;
    font-size: larger;
    scroll-behavior: smooth;
    color: ghostwhite;
}

.btn{
    background-color: lightgray;
    border: 1px solid grey;
}

section{
    margin-left: 20px;
    margin-right: 20px;
}

.border-section{
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: double;
}

/*--------------------------------Menu */

/* Changes dropdown menu text color to white */
#drop-menu .dropdown-item{
    color: ghostwhite;
}

/* Mouseover effect for burger menu buttons */
#drop-menu .dropdown-item:hover{
    color: red;
    background-color: ghostwhite;
}

/* Sets font for nav menu */
nav{
    font-family: 'dalelands_uncialbold';
}

/* Styles the nav buttons */
#button-menu a{
    background-color: transparent;
    border: 4px outset red;
    color: ghostwhite;
}

#button-menu a:hover{
    background-color: ghostwhite;
    color: red;
}

#burger-menu-button{
    color: red;
}

/* Centers the nav menu */
nav ul{
    padding-left: 0px;
}

/* Removes list dots from nav menu */
nav li{
    list-style: none;
}

/* Centers inputs throughout the pages */
input{
    text-align: center;
}


/* Makes it so the tutorial text is back to black from ghostwhite */
.introjs-tooltiptext{
    color: black;
}

/* Styles the floating action button */
.floating-action-button{
    z-index: 1000;
    width: 40px;
    height: 40px;
    position: fixed;
    right: 30px;
    bottom: 30px;
    border: none;
    border-radius: 100%;
    background-color: ghostwhite;
    cursor: pointer;
}

.floating-action-button:hover{
    background-color: red;
}
