/* Aligns text back to the start */
input{
    text-align: start;
}

/* Colors the text in the acknowledge message */
#acknowledge-modal{
    color: black;
}

/* Mouseover effect for submit button */
button:hover{
    background-color: ghostwhite;
    border-color: ghostwhite;
}