/*--------------------------------Fonts */

@font-face {
    font-family: 'dalelands_uncialbold';
    src: url('../fonts/dalelandsuncialbold-82za-webfont.woff2') format('woff2'),
         url('../fonts/dalelandsuncialbold-82za-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'draconisregular';
    src: url('../fonts/draconis-jrw6b-webfont.woff2') format('woff2'),
         url('../fonts/draconis-jrw6b-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
