/*--------------------------------Fonts */

@font-face {
    font-family: 'dalelands_uncialbold';
    src: url('../fonts/dalelandsuncialbold-82za-webfont.woff2') format('woff2'),
         url('../fonts/dalelandsuncialbold-82za-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'draconisregular';
    src: url('../fonts/draconis-jrw6b-webfont.woff2') format('woff2'),
         url('../fonts/draconis-jrw6b-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/*--------------------------------Whole Page */

body{
    background-image: url('../images/stone-background.png');
    background-repeat: repeat;
    text-align: center;
    font-family: 'draconisregular', sans-serif;
    font-size: larger;
}

section{
    padding-bottom: 20px;
}

/*--------------------------------Menu */

#burger-menu-button{
    background-image: url('../images/black-scales.png');
    background-repeat: repeat;
    color: red;
    font-family: 'dalelands_uncialbold';
}

nav ul{
    padding-left: 0px;
}

nav li{
    list-style: none;
}

/*--------------------------------Dice */

.responsive-dice img{
    max-width: 100px;
    max-height: 100px;
    width: 100%;
    height: 100%;
    min-height: 50px;
    min-width: 50px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

/*--------------------------------Skills */

#skills input{
    padding: 0px;
    text-align: center;
    width:30px;
    height: 30px;
    position: relative;
}

.crit-hit{
    color: green;
}

.crit-miss{
    color: red;
}